{% extends 'base.html' %}

{% load static %}
{% block content %}
<style>
    #dashboard-nav{
        color: rgb(66, 120, 220) !important;
    }
</style>
<center>
    <div class="columns">
        <div class="column is-half ">
          <div class="column is-flex is-align-items-flex-end is-justify-content-space-around px-6"  style="background-color: #151B2D; height: 40vh; border-radius: 20px;  ">
                    <div class="column is-half mx-2" style="border-radius: 7px; width: 2% !important; height: 80%; background-color: cornflowerblue;"></div>
                    <div class="column is-half mx-2" style="border-radius: 7px; width: 1% !important; height: 30%; background-color: #DC143C;"></div>
                    <div class="column is-half mx-2" style="border-radius: 7px; width: 2% !important; height: 10%; background-color: #3C9046;"></div>
                    <div class="column is-half mx-2" style="border-radius: 7px; width: 2% !important; height: 30%; background-color: orange;"></div>
                    <div class="column is-half mx-2" style="border-radius: 7px; width: 2% !important; height: 70%; background-color: #17765e;"></div>
                    <div class="column is-half mx-2" style="border-radius: 7px; width: 2% !important; height: 40%; background-color: #AC4FC6;"></div>
                    <div class="column is-half mx-2" style="border-radius: 7px; width: 2% !important; height: 60%; background-color: #FFF7D0;"></div>
                    <div class="column is-half mx-2" style="border-radius: 7px; width: 2% !important; height: 30%; background-color: #873600;"></div>
                 

          </div>
          <div class="column " style="height: 30vh;">
            


            <div class="columns has-text-left" style="color: #535353;">
                <div class="column">
                    <div class="column" > <span style="background-color: orange; height: 5px; width: 5px; color: orange; border-radius: 10px;">st</span> Frontend Dev[13]</div>
                    <div class="column"> <span style="background-color: cornflowerblue; height: 5px; width: 5px; color: cornflowerblue; border-radius: 10px;">st</span>  Backend Dev[2]</div>
                    <div class="column">  <span style="background-color: #17765e; height: 5px; width: 5px; color: #17765e; border-radius: 10px;">st</span> UI/UX Desginer[0]</div>
                    <div class="column">  <span style="background-color:#DC143C; height: 5px; width: 5px; color: #DC143C; border-radius: 10px;">st</span> Software Dev[5]</div>
                </div>
                <div class="column">
                 <div class="column"> <span style="background-color:#AC4FC6; height: 5px; width: 5px; color: #AC4FC6; border-radius: 10px;">st</span> Bot Dev[6]</div>
                 <div class="column"> <span style="background-color:#873600 ; height: 5px; width: 5px; color: #873600 ; border-radius: 10px;">st</span> Desktop Dev[5]</div>
                 <div class="column"><span style="background-color:#FFF7D0  ; height: 5px; width: 5px; color: #FFF7D0 ; border-radius: 10px;">st</span> Mobile Dev[1]</div>
                 <div class="column"><span style="background-color:#3C9046   ; height: 5px; width: 5px; color:#3C9046 ; border-radius: 10px;">st</span> Fullstack[4]</div>
                </div>
            
              </div>
          </div>
          <div class="column " style="height: 10vh; background-color: #151B2D; border-radius: 15px;">
            <div class="columns is-flex-direction-row is-justify-content-space-around"> 
                <div style="color:  #8790a8; font-size: 1rem; " class="pt-5">
                    High
                    <span style="background-color:#080B15 !important; color: white; padding: 10px 14px; border-radius: 5px; margin-left: 10px;"> Frotend Dev </span>
                
                
                </div>
                
                
                <div class="pt-5" style="color:  #8790a8; font-size: 1rem; "  >
                 
                   
                   Low 
                 <span style="background-color:#080B15 !important; color: white; padding: 10px 14px; border-radius: 5px; margin-left: 10px;"> Mobile Dev </span>
                </div>
              </div>
          </div>
        </div>










        <div class="column is-half ">
            <div class="columns  " >

                <div class="column ">
                    <div class="column is-half   "  style="background-color: #151B2D; height: 18vh; border-radius: 20px; ">
                    
                        <div class="column has-text-weight-semibold" style="font-size: 3rem; color: cornflowerblue;">5</div>
                  <div class="column " >
                      <div class=" has-text-white " style="font-size: 1rem; margin-top: -1.2rem;">Female</div>
  

            
                  </div>
                    
                    
                    </div>
                    <div class="column is-half mt-5"  style="background-color: #151B2D; height: 18vh; border-radius: 20px; ">
                        <div class="column has-text-weight-semibold" style="font-size: 3rem; color: cornflowerblue;">20</div>
                        <div class="column " >
                            <div class=" has-text-white " style="font-size: 1rem; margin-top: -1.2rem; ">Male</div>
        
      
                  
                        </div>
                    
                    
                    </div>
                </div>


                <div class="column is-two-fifths"  style="background-color: #151B2D; height: 40vh; border-radius: 20px; ">
                  <div class="column has-text-weight-semibold" style="font-size: 6.5rem; color: cornflowerblue;">{{totalMember}}</div>
                  <div class="column">
                      <div class="title has-text-white">Total</div>
                      <div class="subtitle" style="color: #41517f;">Member</div>

            
                  </div>
                </div>
                
            

             
              




            </div>
            <div class="columns is-flex-direction-row is-justify-content-space-between"> 
                <div style=" padding-top: 20px; margin-left: 7.4rem; padding-bottom: 30px;">
                
                    <div class="is-size-4 has-text-weight-semibold" style="color: cornflowerblue;">Upcoming</div>
                    <div class="subtile is-size-5">Event</div>
                    
                </div>
                
                
                <div >
                 .
                </div>
              </div>

            <div class="column has-text-left p-0 pl-4 " style="margin-left: 5rem;  background-color: #151B2D; height: 25vh; border-radius: 20px; width: 90%; font-size: 0.9rem !important; ">
            
              <div class="column pb-0  " style="padding-top: 30px; color:  #7889bb;">>>> Event Title :<span style=" color:rgb(121, 121, 121); padding: 8px 14px;  margin-left: 1px;"> Icpc Computation </span>
              </div>
              <div class="column pb-0  " style="color:  #7889bb;">>>> Location :

                <span style=" color:rgb(121, 121, 121); padding: 8px 14px;margin-left: 1px;"> Block 510 </span>
              </div>
              <div class="column pb-0 " style="color:  #7889bb;">>>> Hour : <span style=" color:rgb(121, 121, 121); padding: 8px 14px;  margin-left: 1px;"> 2:00 - 3:00 </span></div>
              <div class="column pb-0  " style="color:  #7889bb;">>>> Date :<span style=" color:rgb(121, 121, 121); padding: 8px 14px;  margin-left: 1px;"> 11/26/2023 </span></div>
            
            
            
            </div>
        </div>
    
      </div>

</center>

{% endblock %}