{% extends 'base.html' %}

{% load static %}
{% block content %}
<style>
#float-btn{  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    100% { transform: translate(0, -0px); }    
}
#event-nav{
    color: rgb(66, 120, 220) !important;
}
</style>

<script>

           
    document.addEventListener('DOMContentLoaded', () => {
      // Functions to open and close a modal
      function openModal($el) {
        $el.classList.add('is-active');
      }
    
      function closeModal($el) {
        $el.classList.remove('is-active');
      }
    
      function closeAllModals() {
        (document.querySelectorAll('.modal') || []).forEach(($modal) => {
          closeModal($modal);
        });
      }
    
      // Add a click event on buttons to open a specific modal
      (document.querySelectorAll('.js-modal') || []).forEach(($trigger) => {
        const modal = $trigger.dataset.target;
        const $target = document.getElementById(modal);
    
        $trigger.addEventListener('click', () => {
          openModal($target);
        });
      });
    
      // Add a click event on various child elements to close the parent modal
      (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
        const $target = $close.closest('.modal');
    
        $close.addEventListener('click', () => {
          closeModal($target);
        });
      });
    
      // Add a keyboard event to close all modals
      document.addEventListener('keydown', (event) => {
        if (event.code === 'Escape') {
          closeAllModals();
        }
      });
    });
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
                  
      document.addEventListener('DOMContentLoaded', () => {
      // Functions to open and close a modal
      function openModal($el) {
        $el.classList.add('is-active');
      }
    
      function closeModal($el) {
        $el.classList.remove('is-active');
      }
    
      function closeAllModals() {
        (document.querySelectorAll('.modal') || []).forEach(($modal) => {
          closeModal($modal);
        });
      }
    
      // Add a click event on buttons to open a specific modal
      (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
        const modal = $trigger.dataset.target;
        const $target = document.getElementById(modal);
    
        $trigger.addEventListener('click', () => {
          openModal($target);
        });
      });
    
      // Add a click event on various child elements to close the parent modal
      (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
        const $target = $close.closest('.modal');
    
        $close.addEventListener('click', () => {
          closeModal($target);
        });
      });
    
      // Add a keyboard event to close all modals
      document.addEventListener('keydown', (event) => {
        if (event.code === 'Escape') {
          closeAllModals();
        }
      });
    });
    
    </script>

























<div id="modal-js-example"  class="modal">
    <div class="modal-background "></div>
    <div class="modal-content " style="height: 80vh; border-radius: 10px; background-color:#151B2D;">
      <section class="section is-responsive">
  
  
  
        <div class="column">
          
          <div class="columns  ">
                    
            <div class="column is-three-fifths is-left" >
  <!--        
                <div class="column has-text-white has-text-weight-normal is-size-5  has-text-left" id="logTxt" >
                 Add User
                </div> -->
  
                <span class="icon-text ">
                  <span class="icon mt-3">
                    <img src="{% static "images/telegram.png" %}" >
                  </span>
                  <span class="column has-text-white has-text-weight-normal is-size-4  has-text-left">Channle <span style="color: #577CFF;">Post</span></span>
                </span>
  
               
            </div>
        
          </div>
  
  
          <div class="columns is-centered">
                    
            <div class="column is-three-fifths" >
  
              <div class="column"><input name="new_pass" class="input is-rounded is-fullwidth" type="text" placeholder="Title"></div>
              
              <div class="column"><textarea class="textarea" placeholder="Discriptions.." rows="7"></textarea></div>
  
              <div class="column"><input name="new_pass" class="input is-rounded is-fullwidth  pb-2" type="text" placeholder="Tag"></div>
  
            
  
             <br>
  
              <div class="columns is-centered pt-3"> 
                
                <div class="column">
                <div  class="button is-rounded is-fullwidth js-modal-trigger" style="background-color: #151B2D; border: white 2px solid; color: white;"  data-target="modal-js-example">
                 
                   Post
                
                </div>
            </div>
              </div>
  
  
  
  
  
          </div>
  
          
  
          
          </div>
  
  
  
  
  
     
  
        
        </section>
      <!-- Any other Bulma elements you want -->
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
  





































  
<div id="modal-js"  class="modal">
    <div class="modal-background "></div>
    <div class="modal-content " style="height: 80vh; border-radius: 10px; background-color:#151B2D;">
      <section class="section is-responsive">
  
  
  
        <div class="column">
          
          <div class="columns  ">
                    
            <div class="column is-three-fifths is-left" >
  <!--        
                <div class="column has-text-white has-text-weight-normal is-size-5  has-text-left" id="logTxt" >
                 Add User
                </div> -->
  
                <span class="icon-text ">
                  <span class="icon mt-3">
                    <img src="{% static "images/event.png" %}" >
                  </span>
                  <span class="column has-text-white has-text-weight-normal is-size-4  has-text-left">Update Event</span>
                </span>
  
               
            </div>
        
          </div>
  
  
          <div class="columns is-centered">
                    
            <div class="column is-three-fifths" >
  
              <div class="column"><input name="new_pass" class="input is-rounded is-fullwidth" type="text" placeholder="Event Name"></div>
              
              <div class="column"><input name="new_pass" class="input is-rounded is-fullwidth  pb-2" type="text" placeholder="Location"></div>              <div class="column"><input name="new_pass" class="input is-rounded is-fullwidth  pb-2" type="text" placeholder="Hour (12:30 - 2:00)"></div>
              <div class="column"><input name="new_pass" class="input is-rounded is-fullwidth  pb-2" type="text" placeholder="Date"></div>
  
               
              <br>
  
  
          <div class="columns is-centered  pl-3 pr-3 pt-3">
              <div class="column ">
          
  
                <div>
                <button class="button is-fullwidth is-rounded " style="background-color: #577CFF; color: white; border: none;  " ><div class="is-size-6" id="btn">Update </div></button>
                </div>
              
              </div>
          </div>
  
  
  
  
  
          </div>
  
          
  
          
          </div>
  
  
  
  
  
     
  
        
        </section>
      <!-- Any other Bulma elements you want -->
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>

  






























<center>
    <div style="color: white; font-size: 1.4rem; font-weight: semi bold; float: left; " ><span class="icon-text ">
        <span class="icon mt-3">
          <img src="{% static "images/event.png" %}" >
        </span>
        <span class="column ">Event</span>
      </span>
    </div>
      <br>  <br>
    
    
      <div class="columns is-flex-direction-row is-justify-content-space-between"> 
        <div style="color:  #6c717e; font-size: 1rem; font-weight: normal; padding-top: 0.6rem; margin-left: -7.4rem;">Manage your event here</div>
        
        
        <div id="float-btn" class="button is-rounded  js-modal-trigger" style="background-color: #080B15; border: white 2px solid; color: white;"  data-target="modal-js-example">
         
            <span class="icon mt-0">
                <img src="{% static "images/telegram.png" %}" width="80%">
              </span>
              <span class="column ">Post</span>
            </span>
         
        
        </div>
      </div>
<br>

    
<form method="POST" action="{% url 'event' %}">

    <div class="columns">
        <div class="column pt-6 pr-6">
          {% csrf_token %}
            <div class="column is-full"><input  class="input is-rounded is-fullwidth" type="text" placeholder="Event Name" name="eventName"></div>
            
            <div class="column is-full"><input  class="input is-rounded is-fullwidth  pb-2" type="text" placeholder="Location" name="location"></div>

            <div class="column is-full"><input class="input is-rounded is-fullwidth  pb-2" type="text" placeholder="Hour" name="hour"></div>
            
            <div class="column is-full"><input class="input is-rounded is-fullwidth  pb-2" type="text" placeholder="Date" name="date"></div>
            <br>
            <div class="column is-full"> <button type="submit" class="button is-fullwidth is-rounded " style="background-color: #577CFF; color: white; border: none;  " ><div class="is-size-7" id="btn">save</div></button> </div>
            <div class="column is-full"> <button class="button is-fullwidth is-rounded " style="background-color: #080B15; border: white 2px solid; color: white; " ><div class="is-size-7" id="btn">clear</div></button> </div>
             
        </div>
      </form>








        <div class="column is-three-quarters"  style="background-color: #151B2D; height: 70vh; border-radius: 20px; border-left: #6d88e8 solid 15px; overflow-x: scroll;">
            <table class="table  is-borderless  " style="width: 95%; background-color:  #151B2D ;">
                <thead class="has-text-white" style="border-radius: 10px;">
                  <tr  class=" is-rounded" style="background-color: #080B15;">
                    <th><abbr style="color: #6e82bc;" >Event Name</abbr></th>
                    <th><abbr   style="color: #6e82bc;">Location</abbr></th>
                    <th><abbr   style="color: #6e82bc;"></abbr></th>
                    <th><abbr   style="color: #6e82bc;">Hour</abbr></th>
                    <th><abbr   style="color: #6e82bc;">Date</abbr></th>
                    <th><abbr   style="color: #6e82bc;"></abbr></th>
          
 
                    
            
                  </tr>
                </thead>
            
                <tbody class="tb "  style="font-size: 1rem;" >
                  {% for eventLists in eventList %}
                  <tr style="color: #6c717e; ">
                  
                    <td  style="font-size:0.9rem;">{{eventLists.eventName}}</td>
                    <td style="font-size:0.9rem;">{{eventLists.location}}<td>
                    <td style="font-size:0.9rem;">{{eventLists.hour}}</td>
                    <td style="font-size:0.9rem;">{{eventLists.date}}</td>
                    
                    <td style="font-size:0.9rem; color: cornflowerblue"><a  data-target="modal-js"  class="js-modal"  href="deleteEvent/{{eventLists.id}}">Remove</a></td>
                    
              
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    
      </div>

</center>



{% endblock %}