{% extends 'base.html' %}

{% load static %}
{% block content %}

<center>
<br>
    <div class="columns">
        <div class="column is-three-fifths has-text-white is-size-1 mt-5" id="cardImg">
            <div class="columns mt-4">
              <div class="column">
          
                  <img src="{% static "images/feedback.png" %}" style="width: 55%;">
                  
              </div>
            </div>
          </div>





        <div class="column  is-rounded is-two-fifths  " style="background-color: #080B15; height: 80vh; overflow-y: scroll; ">
          
            <div class="columns " style="float: left;">
                <div class="column "  >
                    <h1 class="title  has-text-white  is-size-5 ">Feedback</h1>
                    <h2 class="subtitle is-size-7" style="color:#6d88e8 ;">From Telegram >>> Bot</h2>
                   
                   </div>
                
          </div>
       <br>
         <div class="columns mb-7">
            <div class="column  is-size-6" style="color:#ffffff ; float:right !important; " >
                (11)
               </div>
      </div>
     <br>
     <br>
            

         <div class="columns">
            <div class="column box is-three-quarters" style="background-color:#151B2D ; height: 18vh; border-left: #6d88e8 solid 15px;">

            </div>
       </div>
        <br>

          <div class="columns">
            <div class="column box is-three-quarters" style="background-color:#151B2D ; height: 18vh;border-left: #6d88e8 solid 15px;">

            </div>
          </div>
          <br>


         
          <div class="columns">
            <div class="column box is-three-quarters" style="background-color:#151B2D ; height: 18vh;border-left: #6d88e8 solid 15px;">

            </div>
          </div>



        </div>
   
    </div>


</center>


{% endblock %}
