{% extends 'base.html' %}

{% load static %}
{% block content %}
<style>
    #setting-nav{
        color: rgb(66, 120, 220) !important;
    }
</style>
<center>
    <form action="{% url 'addUser' %}" method="POST">
        {% csrf_token %}
    <div class="columns" style="height: 80vh;">
       
        <div class="column">
            <span class="column has-text-white has-text-weight-normal is-size-4  has-text-centered">Settings</span>
           <br><br>
           
            <div class="column is-one-third"><input name="user_name" class="input is-rounded is-fullwidth" type="text" placeholder="Username"></div>
            
            <div class="column is-one-third"><input name="user_password" class="input is-rounded is-fullwidth  pb-2" type="text" placeholder="Password"></div>
             
    
                <div class="column is-one-third">
                    <div class="select  is-rounded  is-fullwidth">
                        <select name="user_status">
                            <option>Member</option>
                            <option>Admin</option>
                            <option>SuperAdmin</option>
                        
                        </select>
                    </div>
                </div>
                
          
                <span class="column has-text-white has-text-weight-normal is-size-6   has-text-centered" style="color: rgb(255, 84, 84);">{{error_msg}}</span>

            <div class="column is-one-third">
        

                <div>
                <button type="submit" class="button is-fullwidth is-rounded " style="background-color: #577CFF; color: white; border: none;  " ><div class="is-size-6" id="btn">Add </div></button>
                </div>
              
              </div>
              <div class="column is-one-third"> <button class="button is-fullwidth is-rounded " style="background-color: #080B15; border: white 2px solid; color: white; " ><div class="is-size-7" id="btn">Display</div></button> </div>

         
      </div>

  
       </div>
    </form>
</center>

 {% endblock %}